<!DOCTYPE html>
<html>
  <head>
    <title>CafeSociety</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'Home', cafes_path %>
      <%= link_to 'New', new_cafe_path %>
    </header>
    <%= yield %>
  </body>
</html>
